body {
	font-family: -apple-system, blinkMacSystemFont,
               'Helvetica Neue',
               'Segoe UI',
               YuGothicM,
               YuGothic,
               Meiryo,
               sans-serif;
    color: black;
    margin: auto;
    max-width: 40em;
}

#page-title {
		margin: 5em 0 0 0;
    text-align: center;
		font-family: Ubuntu;
		font-size: 24pt;
}

#page-title h1 a, .post a {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: underline;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}

#date {
		padding: 0 10px;
		margin: 0 10px;
}

#posts {
}

.post {
		margin: 5pt 0;
}

.blog-post {
		margin: 5em 0;
    padding: 0 .5em ;
		font-weight: 200;
		line-height: 1.8;
		letter-spacing: 1.2px;
}
.photo {
	margin: 1em 0;
}
blockquote {
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

code {
	font-size: 12px;
  line-height: 1.4;
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

pre {
	background-color: #f9f9f9;
 	white-space: pre-wrap;
}

.timestamp {
	margin-left: 1em;
	font-size: 9px;
	font-color: #A9A9A9;
}

a#back {
	text-decoration: none;
	font-size: 18px;
}

.back {
    position: relative;
}
.back a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*全体*/
.hidden_box {
    text-align: center;
		font-family: Ubuntu;
    margin: 0 0 0 0 ;
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 0px;
    margin: 0px;
    cursor :pointer;
}

/*ボタンホバー時
.hidden_box label:hover {
    background: #efefef;
}
*/

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
		margin-top: 0em;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 5px 0;
    height: auto;
    opacity: 1;
}

.hidden_show {
	text-align: left;
	margin-left: 3em;
}
@import url(https://fonts.googleapis.com/css?family=Chango);

.chango {
  font-family: 'Chango';
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#elbody {
  position: relative;
  margin: 2em auto 0 auto;
  height: 64px;
  width: 90px;
  border: 6px solid #5D5D5D;
  border-bottom: none;
  border-radius: 45px 45px 0px 0px;
}
#elbody:before {
  content: '';
  position: absolute;
  top: 18px;
  left: -16px;
  height: 18px;
  width: 18px;
  border-top: 6px solid #5D5D5D;
  border-left: 6px solid #5D5D5D;
  border-radius: 18px 0px 0px 0px;
}
#elbody:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 31px;
  height: 26px;
  width: 13px;
  border-top: 6px solid #5D5D5D;
  border-bottom: 6px solid #5D5D5D;
  border-left: 6px solid #5D5D5D;
  border-radius: 26px 0px 0px 26px;
}

#face {
  position: absolute;
  top: 19px;
  left: 48px;
  height: 11px;
  width: 11px;
  background-color: #5D5D5D;
  border-radius: 11px;
}
#face:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 20px;
  height: 23px;
  width: 6px;
  background-color: #5D5D5D;
  border-right: 1px solid rgba(112,112,110,0.5);
  border-bottom: 1px solid rgba(112,112,110,0.5);
}
#face:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 12px;
  height: 17px;
  width: 17px;
  border-left: 6px solid #5D5D5D;
  border-bottom: 6px solid #5D5D5D;
  border-radius: 0px 0px 0px 17px;
}

#feet {
  position: absolute;
  top: 47px;
  left: 4px;
  width: 21px;
  height: 11px;
  border-top: 6px solid #5D5D5D;
  border-right: 6px solid #5D5D5D;
  border-left: 6px solid #5D5D5D;
  border-radius: 21px 21px 0px 0px;
}
#feet:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 24px;
  width: 21px;
  height: 11px;
  border-top: 6px solid #5D5D5D;
  border-right: 6px solid #5D5D5D;
  border-left: 6px solid #5D5D5D;
  border-radius: 21px 21px 0px 0px;
}


.modal_wrap input{
	display: none;
}

.modal_overlay{
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	transition: opacity 0.5s, transform 0s 0.5s;
	transform: scale(0);
}

.modal_trigger{
	position: absolute;
	width: 100%;
	height: 100%;
}

.modal_content{
	position: relative;
	align-self: center;
	width: 100%;
	max-width: 800px;
	padding: 30px 30px 15px;
	box-sizing: border-box;
	background: #fff;
	line-height: 1.4em;
	transition: 0.5s;
}

.close_button{
	position: absolute;
	top: 14px;
	right: 16px;
	font-size: 24px;
	cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay{
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
}

.open_button{
	font-size: 14px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6em 0 2em 0 ;
	cursor: pointer;
	color: #5D5D5D;
}

/*OVAL*/
.circular {
margin: -5em 0 0 13em;
}

.circular-sb {
  width: 50px;
  border: 1px solid #5d5d5d;
  padding: 5px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  position: relative;
  color: #5d5d5d;
}

/*left circle shape speech bubble*/

.circle3 {
  border: 1px solid #5d5d5d;
  position: absolute;
  width: 7px;
  padding: 7px;
  border-radius: 50%;
  left: -10px;
  bottom: -3px;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 7px;
  padding: 7px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.circle4 {
  border: 1px solid #5d5d5d;
  position: absolute;
  width: 5px;
  padding: 5px 5px;
  border-radius: 50%;
  left: -30px;
  bottom: -5px;
}
