body {
	font-family: -apple-system, blinkMacSystemFont,
               'Helvetica Neue',
               'Segoe UI',
               YuGothicM,
               YuGothic,
               Meiryo,
               sans-serif;
    color: black;
    margin: auto;
    max-width: 40em;
}

#page-title {
		margin-top: 5em;
    text-align: center;
		font-family: Ubuntu;
		font-size: 24pt;
}

#page-title h1 a, .post a {
    color: black;

}

a {
    text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}

#date {
		padding: 0 10px;
		margin: 0 10px;
}

#posts {
}

.post {
		margin: 5pt 0;
}

.blog-post {
		margin: 5em 0;
    padding-left: 1em;
		font-weight: 200;
		line-height: 1.8;
		letter-spacing: 1.2px;
}
